* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #2196f3;
  --grey: #e5e5e5;
  --black: #000;
  --dark-grey: #212121;
  --white: #fff;
  --btn-color: #f5f4fa;
  --light-grey: #eeeeee;
  --bckgd-pic-color: #757575;
  --ftr-bckgd-color: #2f303a;
}
body {
  font-family: "Roboto", "Releway", sans-serif;
  background-color: var(--white);
  font-style: normal;
  width: 1600px;
}
.wrapper {
  max-width: 1385px;
  margin: 0 auto;
  height: 80px;
}
.site-nav {
  border-bottom: 2px solid #ccc;
}
.logo {
  color: var(--blue);
  font-family: "Raleway";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo-studio {
  color: var(--black);
}
.up-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons {
  /* font-family: "Roboto" */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 0px;
  display: inline;
}
.nav-buttons-list a {
  margin: 46px;
}
.nav-buttons:hover {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
}
h1 {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--white);
  left: 452px;
  top: 280px;
  width: 696px;
  height: 120px;
  text-align: center;
  position: absolute;
}
.header {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
  margin-bottom: 94px;
}
.main-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: absolute;
  display: inline-flex;
  margin-left: 40%;
}
button {
  background: var(--btn-color);
  border-radius: 4px;
  border: none;

  /* nie nadpisuje mi roboto bezpośrednio z body, why? */

  font-family: Roboto;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  background-color: #2196f3;
  color: var(--white);
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.order {
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.order-service {
  color: var(--white);
  display: flex;
  width: 117px;
  height: 30px;
  left: 742px;
  top: 440px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* position: center; */
  margin-left: 42px;
  margin-top: 10px;
}

.images {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.images li {
  margin: 30px;
}
.images-portfolio {
  list-style-type: none;
  display: inline-flex;
  width: 1170px;
  height: 1360px;
  top: 174px;
  left: 215px;
}
.images-borders {
  background: var(--white);
  border: 1px solid var(--light-grey);
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
}
.img-title {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-grey);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.img-profession {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--bckgd-pic-color);
  text-align: left;
}
.our-team {
  height: 648px;
  top: 1449px;
  background-color: var(--btn-color);
}

.team {
  list-style-type: none;
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
  /* margin-bottom: 94px; */
  margin-top: 186px;
  justify-content: center;
}
.team li {
  margin: 30px;
}
.team-borders {
  background: var(--white);
  display: inline;
  height: 368px;
  width: 270px;
}
.what-we-do {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lorems {
  list-style-type: none;
  display: flex;
  margin: 0px 215px 94px 215px
}

.lorems p {
  font-weight: 400;
  color: var(--bckgd-pic-color);
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; 
}
.lorems-box {
  margin: 30px;
  width: 270px;
  height: 75px;
}
.content-section {
  margin-left: 215px;
  margin-right: 215px;
}
h2 {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121; 
}
.lorem-head {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-grey);
}
.name {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.profession {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.mail {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: var(--bckgd-pic-color);
}
.tel {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--bckgd-pic-color);
  text-decoration: none;
}
.coordinates {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer {
  font-style: normal;
  background: var(--ftr-bckgd-color);
  list-style-type: none;
}
.logo-studio-footer {
  color: var(--white);
}
.mail-main {
  /* font-family: "Roboto";
  font-style: normal; */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.tel-main {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.mail-header {
  text-decoration: none;
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--bckgd-pic-color);
}

.mail-header:hover {
  color: var(--blue);
}
.tel:hover {
  color: var(--blue);
}
.mail-tel a {
  margin: 50px;
}
